*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}
.wrap{
    height: auto;
}
.home{
    width: 100%;
    height: 10vh;
    position: fixed;
}
.home a i:hover{
    color: blue;
}
.intro{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro img{
    width: 10%;
    height: 35%;
}
.bold{
    font-size: 22px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-top: 1em;
    color: #000d42d9;
}
.thin{
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}
.formsection{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(228, 228, 219);
    border-top-left-radius: 150px;
}
form{
    width: 22%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}
.sign{
    font-size: 30px;
    font-weight: 700;
    color: #232f67;
    padding-bottom: 1em;
    padding-top: 1em;
}
.formsection input, button, select{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.204);
}
.formsection button{
    background-color: #232f67;
    color: white;
    font-size: 17px;
    margin-bottom: 1em;
}
.formsection button:hover{
    box-shadow: 0 6px 10px #000000aa;
    transition: 0.3s ease;
}
.formsection input:focus, button:focus, select:focus{
    border: 1.8px solid #232f67;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
@media screen and (max-width: 1063px) {
    .intro img{
        width: 15%;
    }
    form{
        width: 30%;
    }
}
@media screen and (max-width: 819px) {
    .intro img{
        width: 20%;
    }
    form{
        width: 38%;
    }
}
@media screen and (max-width: 739px) {
    .intro img{
        width: 16%;
    }
    form{
        width: 28%;
    }
}
@media screen and (max-width: 686px) {
    .intro img{
        width: 20%;
    }
    form{
        width: 44%;
    }
}
@media screen and (max-width: 525px) {
    .intro img{
        width: 24%;
    }
    form{
        width: 44%;
    }
}
@media screen and (max-width: 475px) {
    .intro img{
        width: 30%;
    }
    form{
        width: 70%;
    }
}
@media screen and (max-width: 300px) {
    .intro img{
        width: 45%;
    }
    form{
        width: 80%;
    }
}