*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}
.headnav{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 8px;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 1px 8px #fe4e5152;
    z-index: 1;
}
.logo img{
    width: 100%;
    height: 10vh;
    display: block;
}
.navs{
    gap: 20px;
    display: flex;
    justify-content: space-between;
    
}
.headnav p{
    font-size: 50px;
}
.navs a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transform: scale3d(43deg);
}
.navs a:hover{
    transform: scale(1.05);
    color: #fe4e50;
    transition: all 0.3s ease;
}
.navs a:active{
    color: #232f67;
    transition: all 0.3s ease;
}
#bars{
    display: none;
}
.secondnav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    background-color: #232f6750;
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
    position: fixed;
    width: 70%;
    height: 110vh;
    inset: 0;
    left: -500px;
    z-index: 1;
    transition: all 0.3s ease;
    justify-content: space-around;
}
.secondnav button a{
    color:rgb(0, 0, 0);
}
.secondnav button a:hover{
    text-decoration: underline;
}
.secondnav button {
    padding: 5px;
    border: 4px solid #232f67;
    background-color:#ffffff;
    font-weight: 600;
    width: 90%;
    font-size: 16px;
    margin-bottom: 80px;
}
.secondnav a{
    color: #000000;
    width: 70%;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.236);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    padding: 10px;
}
.show{
    left: 0;
}
.whoweare{
    width: 100%;
    height: 100vh;
    background-image: url(./shape2.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whoweare .text{
    font-size: 40px;
    font-weight: 600;
    padding-left: 20px;
    width: 20%;
}
.whoweare::before{
    content: '';
    border-bottom: 4px solid #232f67;
    width: 50px;
    padding-left: 10px;
}
.thintext{
    width: 60%;
    padding-left: 20px;
    font-size: 20px;
}
.mission{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #232f671c;
    gap: 4em;
}
.row1 img{
    border-radius: 10px;
    width: 100%;
    height: 90%;
}
.ourmission{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 1em;
}
.missions{
    font-size: 18px;
    width: 80%;
}
.img2{
    width: 100%;
    height: 50%;
}
.img2 img{
    width: 70%;
}
.textss{
    margin-left: 3em;
    margin-top: 2em;
    height: auto;
}
.texts2{
    width: 70%;
}
.missions span{
    font-weight: 600;
    color: #232f67;
}
.row1{
    padding-top: 30px;
    display: flex;
    width: 100%;
    height: 50%;
    gap: 20px;
}
@media screen and (min-width: 578px) {
    .secondnav{
        display: none;
    }
}
@media screen and (max-width: 578px) {
    .navs{
        display: none;
    }
    #bars{
        display: block;
    }
}
@media screen and (max-width: 829px) {
    .whoweare{
        flex-direction: column;
        justify-content: center;
    }
    .whoweare .text{
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .whoweare .thintext{
        width: 100%;
    }
    .whoweare::after{
    content: '';
    border-bottom: 4px solid #232f67;
    width: 20em;
    padding-left: 10px;
    padding-top: 30px;
}
    .whoweare::before{
    content: '';
    border-bottom: 4px solid #232f67;
    width: 20em;
    padding-left: 10px;
    padding-top: 30px;
}

}
@media screen and (max-width: 358px) {
    .whoweare{
        margin-top: 4em;
    }
}
@media screen and (max-width: 1283px) {
    .row1{
        flex-direction: column;
        height: 50%;
        gap: 4px;
    }
    .mission *{
        padding: 2px;
        margin: 2px;
        gap: 2px;
        height: auto;
    }
    .mission{
        height: auto;
    }
    .row1 img{
        width: 40%;
    }
    .row1 *{
        margin: 2px;
        padding: 2px;
    }

}
@media screen and (max-width: 343px) {
    .missions{
        width: 100%;
    }
    .whoweare::after{
        content: none;
    }
    .whoweare::before{
        content: none;
    }
  
}
@media screen and (max-width: 617px) {
   .row1 img{
        width: 100%;
        height: 100%;
    }
}

.contact{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
    background-color: #232f671c;
    margin-top: 3em;
}
.details{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 2em;
    font-weight: 600;
}
.details i{
    color: #232f67;
}
.contacthead{
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 38px;
    color: #232f67;
    font-weight: 800;
}
.speech{
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding-top: 20px;
}
@media screen and (max-width:658px) {
    .contacthead{
        width: 50%;
    }
}
@media screen and (max-width:379px) {
    .contacthead{
        width: 100%;
    }
}

.contactside{
    width: 40%;
}
.foothead{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
.Foot{
    width: 70vh;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.Foot div a:hover{
    transform: scale(1.05);
    color: #fe4e50;
    transition: all 0.3s ease;
}
.Foot div a,p{
    padding-top: 20px;
    color: black;
    text-decoration: none;
}
.Logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 20%;
    font-size: 50px;
    font-weight: 800;
    color: #232f67;
}
.links{
    display: flex;
    flex-direction: column;
}
.logos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.join-us{
    margin-top: 5em;
    margin-bottom: 5em;
    width: 100%;
    height: auto;
    background-image: url(./shape2.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.join{
    font-size: 30px;
    font-weight: 700;
    color: #232f67;
}
.join-btns{
    display: flex;
    
    margin-top: 3em;
}

.join-btns button{
    background-color: transparent;
    padding: 4px 15px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #232f67;
    margin-right: 20px;
}
.join-btns button:hover{
    background-color: #232f67;
    color: white;
    transition: all 0.2s ease;
}

@media screen and (max-width:1323px) {
    .Foot{
        grid-template-columns: repeat(2, 1fr);
        width: 50vh;
        width: 15%;
        gap: 40px;
    }
    .contacthead{
        width: 50%;
    }
}
@media screen and (max-width:715px) {
    .Foot{
        grid-template-columns: repeat(1, 1fr);
        width: 50vh;
        width: 15%;
        gap: 40px;
    }
}
@media screen and (max-width:763px) {
    .Logo{
        display: none;
    }
    .contact{
        justify-content: space-between;
    }
}
@media screen and (max-width:346px) {
    .Foot{
        margin-top: 3em;
        gap: 2px;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .contact{
        flex-direction: column;
        padding: 10px;
    }
    .contacthead{
        width: 100%;
    }
    .speech{
        width: 100%;
    }
}
@media screen and (max-width:346px) {
    .Foot{
        margin-top: 3em;
        gap: 2px;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .contact{
        flex-direction: column;
        padding: 10px;
    }
    .contacthead{
        width: 100%;
    }
}
@media screen and (max-width:694px) {
    .contact{
        flex-direction: column;
    }
    .Foot{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 4em;
    }
    .contacthead{
        width: 100%;
    }
    .contactside{
        width: 100%;
    }
    .speech{
        width: 70%;
    }
}
@media screen and (max-width:461px) {
   .Foot{
    gap: 2px;
   }
}

.team{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.topteam{
    width: 100%;
    height: 10vh;
    border-left: 5px solid #fe4e50;
}
.topteam p{
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    color: #232f67;
}
.teamcard{
    margin-top: 4em;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.teamcard div{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.teamcard div img{
    width: 12em;
    height: 12em;
    border-radius: 50%;
    display: flex;
    
}
.name{
    width: 40%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #232f67;
    padding-top: 1em;
}
.role{
    width: 60%;
    text-align: center;
}
.contacticons{
    margin-top: 1em;
    gap: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    display: flex;
    text-decoration: none;
}
.contacticons i{
    color: black;
    background-color: #232f672c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacticons i:hover{
    color: blue;
}
@media screen and (max-width:1049px) {
    .teamcard{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:666px) {
    .teamcard{
        grid-template-columns: repeat(1, 1fr);
    }
}
